:root {
	// Colors
	--linkedin-blueGray: #eef3f8;
    --linkedin-gray: #f3f2ef;
	--icons: gray;
	--black: black;
	--white: white;
	--border-gray: lightgray;
    --linkedin-blue: #0a66c2;
	--hover-color: whitesmoke;
}
