@use "../scss/utils" as u;

.feed {
	grid-area: feed;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@include u.breakpoint-down(medium) {
		grid-row: 2;
		grid-column: 1;
		width: 98%;
		margin-inline: auto;
	}

	&__inputContainer {
		background-color: var(--white);
		padding: 0.625rem;
		padding-bottom: 1.25rem;
		border-radius: 0.625rem;
		margin-bottom: 0.625rem;

		@include u.breakpoint-down(medium) {
			width: 98%;
			margin-inline: auto;
		}
	}

	&__input {
		border: 1px solid var(--border-gray);
		border-radius: 1.875rem;
		display: flex;
		padding: 0.625rem;
		color: gray;
		padding-left: 0.9375rem;

		form {
			display: flex;
			width: 100%;

			input {
				border: none;
				outline: none;
				font-weight: 500;
				flex: 1;
				margin-left: 0.625rem;
				letter-spacing: 0.4pt;

				&::placeholder {
					color: darkgray;
				}
			}

			button {
				display: none;
			}
		}
	}

	&__inputOptions {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 80%;
		margin-inline: auto;
	}
}
