@use "../scss/utils" as u;

.header {
	position: sticky;
	top: 0;
	z-index: 999;
	display: flex;
	justify-content: space-evenly;
	border-bottom: 0.0063rem solid var(--border-gray);
	padding-block: 0.625rem;
	background-color: var(--white);

	@include u.breakpoint-down(mid-medium) {
		flex-direction: column;
		align-items: center;
		gap: 0.625rem;
	}

	&__left {
		display: flex;
		align-items: center;

		@include u.breakpoint-down(medium) {
			width: 90%;
		}

		img {
			object-fit: contain;
			height: 2.5rem;
			margin-right: 0.625rem;
		}
	}

	&__search {
		padding: 0.625rem;
		display: flex;
		align-items: center;
		height: 1.875rem;
		border-radius: 1.25rem;
		color: var(--icons);
		background-color: var(--linkedin-blueGray);

		@include u.breakpoint-down(medium) {
			flex: 1;
		}

		@include u.breakpoint-down(mid-xsmall) {
			padding: unset;
		}

		.searchIcon {
			height: 1.25rem;
		}

		input {
			outline: none;
			border: none;
			background: none;
		}
	}

	&__right {
		display: flex;
		gap: 1.25rem;

		@include u.breakpoint-down(mid-xsmall) {
			gap: 1.5625rem;
		}

		@include u.breakpoint-down(xxsmall) {
			gap: 1.25rem;
		}
	}
}
